@font-face {
  font-family: "Beaufort for LOL";
  src: url("@/common/fonts/BeaufortforLOL-Bold.woff2") format("woff2"),
    url("@/common/fonts/BeaufortforLOL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("@/common/fonts/BeaufortforLOL-Medium.woff2") format("woff2"),
    url("@/common/fonts/BeaufortforLOL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("@/common/fonts/BeaufortforLOL-Regular.woff2") format("woff2"),
    url("@/common/fonts/BeaufortforLOL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Beaufort for LOL";
  src: url("@/common/fonts/BeaufortforLOL-Light.woff2") format("woff2"),
    url("@/common/fonts/BeaufortforLOL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: "Beaufort for LOL";
}

body #root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  color: #c4b998;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}

h2 {
  color: #c4b998;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 8px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
