@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

$bg-color: #edf4c3;
$primary-color: #133032;
$secondary-color: #935342;
$terciary-color: #edb99d;
$text-color: whitesmoke;
$secondary-text-color: #133032;

$main-font: "DM Serif Display", serif;
$secondary-font: "DM Sans", sans-serif;

$box-shadow: rgba(19, 48, 50, 0.4) -5px 5px, rgba(19, 48, 50, 0.3) -10px 10px, rgba(19, 48, 50, 0.2) -15px 15px, rgba(19, 48, 50, 0.1) -20px 20px, rgba(19, 48, 50, 0.05) -25px 25px;
