@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

$bg-color: #222222;
$primary-color: #e5e7eb;
$secondary-color: #cac42c;
$terciary-color: #393939;
$text-color: #e5e7eb;
$secondary-text-color: #222222;

$main-font: "DM Sans", sans-serif;

$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
