@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

$bg-color: #181615;
$primary-color: #fffeed;
$secondary-color: #dbd19e;
$terciary-color: #8b9e96;
$text-color: #181615;
$secondary-text-color: whitesmoke;

$main-font: "Karla", sans-serif;
$secondary-font: "Inconsolata", monospace;

$box-shadow: rgba(255, 254, 237, 0.4) 5px 5px,
  rgba(255, 254, 237, 0.3) 10px 10px, rgba(255, 254, 237, 0.2) 15px 15px,
  rgba(255, 254, 237, 0.1) 20px 20px, rgba(255, 254, 237, 0.05) 25px 25px;

  $translate: translate(-25px, -25px);