html {
  color: #383b42;
}
* {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Anderson Grotesk', Arial, Helvetica, sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  color: #383b42;
}

h1,
h2,
h3,
h4 {
  color: #383b42;
}

.button-primary {
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.4s;
  box-shadow: 0px 0px 20px #f9dcd0;
  border: 1px solid #d9c8c05e;

  &:hover {
    background-color: #383b42;
    color: white;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.empty-list {
  color: #383b42;
  font-size: 0.9rem;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 20px #f9dcd0;
  border: 1px solid #d9c8c05e;
}

.empty-list--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-list p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 1rem;
}

input,
textarea {
  border-radius: 8px;
  font-family: 'Anderson Grotesk', Arial, Helvetica, sans-serif;
  border: none;
  padding: 8px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #f9dcd0;
  border: 1px solid #d9c8c05e;

  &:focus {
    outline: 1px solid rgb(212, 212, 212);
  }
}
.itemEditmode {
  display: flex;
  text-decoration: none;
  opacity: 1;

  & input,
  textarea {
    /* max-width: 300px; */
    box-shadow: none;
    background-color: #fff;
  }

  & textarea {
    resize: none;
    max-width: 600px;
  }
}
